@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* Custom stylish scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0c1b31, #0c1b31);
  border-radius: 10px;
  border: 2px solid #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #0c1b31, #0c1b31);
}

html {
  scrollbar-width: thin;
  scrollbar-color: #0f1e36 #ffffff;
}
@keyframes gradientMove {
  0% { background-position: 0% center; }
  50% { background-position: 100% center; }
  100% { background-position: 0% center; }
}

@keyframes floatSlow {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
}